In [1]:
import pandas as pd
import numpy as np

In [9]:
df_real_estate = pd.read_excel(r"C:\Users\Neha Reddy\Desktop\Ameritas\first.xlsx")
df_real_estate.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [13]:
# look at number of null values
df_real_estate.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [16]:
x = df_real_estate["X2 house age ", "X3 distance to the nearest MRT station", "X4 number of convenience stores"]
y = df_real_estate["Y house price of unit area"]



model = LinearRegression(fit_intercept=True)
model.fit(x[:, np.newaxis], y)

KeyError: ('X2 house age ', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores')